[build-system]
requires = ["setuptools>=61.0.0", "wheel", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "personal-mnemonic-medium"
version = "0.4.0"
authors = [{ name = "Martin Bernstorff", email = "martinbernstorff@gmail.com" }]
description = "Personal Mnemonic Medium"
classifiers = ["Programming Language :: Python :: 3.11"]
requires-python = ">=3.11"

dependencies = [
  "functionalpy==0.6.0",
  "misaka==2.1.1",
  "genanki==0.13.0",
  "typer==0.9.0",
  "wasabi==1.1.2",
  "tqdm==4.66.1",
  "sentry-sdk==1.32.0",
]

[project.license]
file = "LICENSE"

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.optional-dependencies]
dev = [
  "cruft==2.15.0",
  "pyright==1.1.328",
  "pre-commit==2.20.0",
  "ruff==0.1.3",
  "black==22.8.0",
]
tests = [
  "pytest==7.1.3",
  "pytest-cov==3.0.0",
  "pytest-xdist==3.3.1",
  "pytest-sugar==0.9.7",
]

[project.urls]
homepage = "https://github.com/MartinBernstorff/personal-mnemonic-medium"
repository = "https://github.com/MartinBernstorff/personal-mnemonic-medium"
documentation = "https://MartinBernstorff.github.io/personal-mnemonic-medium/"

[tool.pyright]
exclude = [".*venv*"]
pythonPlatform = "Darwin"
reportMissingTypeStubs = false

[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
line-length = 70
select = [
  "A",
  "ANN",
  "ARG",
  "B",
  "C4",
  "C90",
  "COM",
  "D417",
  "E",
  "ERA",
  "F",
  "I",
  "ICN",
  "NPY001",
  "PD002",
  "PIE",
  "PLE",
  "PLW",
  "PT",
  "UP",
  "PTH",
  "RSE",
  "RET",
  "RUF",
  "SIM",
  "W",
]
ignore = [
  "ANN101",
  "ANN401",
  "E402",
  "E501",
  "F841",
  "RET504",
  "COM812",
  "COM819",
  "W191",
]
ignore-init-module-imports = true
# Allow autofix for all enabled rules (when `--fix`) is provided.
unfixable = ["ERA"]
# Exclude a variety of commonly ignored directories.
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".hg",
  ".nox",
  ".pants.d",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "venv",
  "__init__.py",
  "docs/conf.py",
]
# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
target-version = "py311"

[tool.ruff.format]
skip-magic-trailing-comma = true

[tool.ruff.flake8-annotations]
mypy-init-return = true
suppress-none-returning = true

[tool.ruff.isort]
known-third-party = ["wandb"]
split-on-trailing-comma = false

[tool.ruff.mccabe]
# Unlike Flake8, default to a complexity level of 10.
max-complexity = 10

[tool.semantic_release]
branch = "main"
version_toml = ["pyproject.toml:project.version"]
build_command = "python -m pip install build; python -m build"

[tool.setuptools]
include-package-data = true
