setuptools < 58 # Breaking changes in setuptools remove the ability to install the latest pystache version.
misaka == 2.1.1
genanki == 0.10.1
pystache # You must downgrade setuptools BEFORE you install pystache.
pytest
black
docopt