# This workflow will
# - Find the latest version tag based on the commit history
#   - Create a git tag for the new version
#   - Update the version number in pyproject.toml based on the commit history
# - Upload the package to PyPI
# - Create a release on GitHub

name: Release
on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
  # Manual trigger
  workflow_dispatch:

      
jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing using PyPI 
      # a guide on how to set it up is available here: https://blog.pypi.org/posts/2023-04-20-introducing-trusted-publishers/


    if: ${{ github.ref == 'refs/heads/main' && github.event.workflow_run.conclusion == 'success'}}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          token: ${{ secrets.RELEASE }}

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@v10.5.2
        with:
          github_token: ${{ secrets.RELEASE }}

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.release.outputs.released == 'true'
        # This action supports PyPI's trusted publishing implementation, which allows authentication to PyPI without a manually 
        # configured API token or username/password combination. To perform trusted publishing with this action, your project's 
        # publisher must already be configured on PyPI.
