# This workflow will install Python dependencies, run pytests and run notebooks
# then it will in python 3.9 (ubuntu-latest) create a badge with the coverage
# and add it to the PR. This badge will be updated if the PR is updated.

name: smoketests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  smoketests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # p2: Get Docker smoketests back online?
        invoke_command: ["smoketest-cli"]

    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v5

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - name: Run integration test
        shell: bash
        run: |
          uv sync --dev
          uv run inv ${{ matrix.invoke_command }}